<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فرم ورود</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
          <% if (msg) { %>
          <div class="alert alert-danger" role="alert"><%= msg %></div>
          <% } %>
          <div class="col-lg-12 login-key">
            <i class="fa fa-key" aria-hidden="true"></i>
          </div>
          <div class="col-lg-12 login-title">فرم ورود</div>

          <div class="col-lg-12 login-form">
            <div class="col-lg-12 login-form">
              <form action="/login" method="POST">
                <div class="form-group">
                  <label class="form-control-label">نام کاربری</label>
                  <input type="text" name="userName" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="form-control-label">رمز عبور</label>
                  <input type="password" name="password" class="form-control" />
                </div>

                <div class="col-lg-12 loginbttm">
                  <div class="w-100 login-btm login-button">
                    <button type="submit" class="btn btn-outline-primary">
                      ورود
                    </button>
                  </div>
                </div>
                <p class="text-white">
                  حساب کاربری ندارید؟
                  <a
                    href="/signUp"
                    class="pt-2 pb-2 d-inline-block text-decoration-none"
                    >ثبت نام</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
